# Add or remove environment variables here.
CONTACT_EMAIL='CONTACT_EMAIL'
CONTACT_PHONE='CONTACT_PHONE'
DEPARTMENT_NAME='DEPARTMENT_NAME'
DEPARTMENT_URL='DEPARTMENT_URL'
RATELIMIT_HEADERS_ENABLED=True
RATELIMIT_STORAGE_URI='DATA_BASE_URL'
RATE_LIMIT_MAX=100
RATE_WINDOW_MS=900000#15 * 60 * 1000 = 900000
SERVICE_NAME='Your service name'
SERVICE_PHASE='Alpha'
SERVICE_URL='SERVICE_URL'
NODE_ENV=development
SESSION_SECRET=
SESSION_NAME='sessionId'
AUTH_REDIRECT_URL='http://localhost:3000'
AUTH_CLIENT_SECRET=
AUTH_CLIENT_ID=
AUTH_DIRECTORY_URL=
BACKEND_URL="http://localhost:8080"
SKIP_AUTH="true"