# Dependency directories
node_modules/

# IDEA
.idea/

# Visual Studios
.trunk/
.DS_Store

# LAA Express TypeScript Template
public/
.env*
!.env.example

# Playwright
/test-results/
/playwright-report/
/blob-report/
/tests/playwright/.cache/
/playwright/.auth/*

# Code coverage
coverage/
zap-results
playwright-test-results/