{% extends "base.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/prior-authority/expert/costs-shared"
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% if errors %}
          {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errors
      }) }}
        {% endif %}
        <span class="govuk-caption-l">Prior authority for {{ laaReference }}</span>
        <h1 class="govuk-heading-xl">Costs shared with other parties</h1>

        <form action="/prior-authority/expert/share-of-costs" method="post" novalidate>

          {{ govukInput({
            label: { text: "How many parties will share the costs?", classes: "govuk-label--m" },
            hint: { text: "Include your client in the total" },
            suffix: { text: "parties" },
            id: "PriorAuthorityNumberOfParties",
            name: "PriorAuthorityNumberOfParties",
            classes: "govuk-input--width-5",
            inputmode: "numeric",
            value: values.PriorAuthorityNumberOfParties if values else priorAuthority.numberOfParties,
            errorMessage: ({ text: errorMap["PriorAuthorityNumberOfParties"] } if errorMap["PriorAuthorityNumberOfParties"] else null)
          }) }}

          {{ govukInput({
            label: { text: "How much is your client's share of the costs?", classes: "govuk-label--m" },
            hint: { text: "Do not include VAT" },
            prefix: { text: "£" },
            id: "PriorAuthorityApportionedAmount",
            name: "PriorAuthorityApportionedAmount",
            classes: "govuk-input--width-5",
            value: values.PriorAuthorityApportionedAmount if values else priorAuthority.apportionedAmount,
            errorMessage: ({ text: errorMap["PriorAuthorityApportionedAmount"] } if errorMap["PriorAuthorityApportionedAmount"] else null)
          }) }}
          <div class="govuk-button-group standard-spacing-top">
            {{ govukButton({ text: "Continue", attributes: { name: "_action", value: 'continue' } }) }}
          </div>
          <input type="hidden" name="_csrf" value="{{ csrfToken }}"></form>
      </div>
    </div>
  </div>
{% endblock %}