{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{{ govukSummaryList({
  card: {
    title: { text: "Expert details" }
  },
  rows: [
    {
      classes: "govuk-summary-list__row--no-border",
      key: { text: "Service required" },
      value: { text: priorAuthority.expertType or "Not provided" },
      actions: {
        items: [{
          href: basePath ~ "/details",
          text: "Change",
          classes: "govuk-link--no-visited-state",
          visuallyHiddenText: "service required and provider's name"
        }]
      }
    },
    {
      key: { text: "Provider's name" },
      value: { text: priorAuthority.fullName or "Not provided" }
    },
    {
      key: { text: "Postcode" },
      value: { text: priorAuthority.expertPostcode or "Not provided" },
      actions: {
        items: [{
          href: basePath ~ "/postcode",
          text: "Change",
          classes: "govuk-link--no-visited-state",
          visuallyHiddenText: "postcode"
        }]
      }
    }
  ]
}) }}

{% set summaryRows = [
  {
    key: {
      text: "Billing method"
    },
    value: {
      text: priorAuthority.billingType or "Not provided"
    }
  }
] %}

{% if priorAuthority.billingType == "Hourly" %}
  {% set _ = summaryRows.push({
    key: {
      text: "Hourly rate"
    },
    value: {
      text: "£" ~ priorAuthority.hourlyRate if priorAuthority.hourlyRate else 
        "Not provided"
    }
  }) %}
  {% set hoursText = "1 Hour" if priorAuthority.estimatedTime.estimatedHours == 1 else 
    priorAuthority.estimatedTime.estimatedHours ~ " Hours" %}
  {% set minutesText = "1 Minute" if priorAuthority.estimatedTime.estimatedMinutes == 1 else 
    priorAuthority.estimatedTime.estimatedMinutes ~ " Minutes" %}
  {% set _ = summaryRows.push({
    key: {
      text: "Time requested"
    },
    value: {
      html: hoursText ~ " <br>" ~ minutesText
    }
  }) %}
  {% set _ = summaryRows.push({
    key: {
      text: "Total expert cost"
    },
    value: {
      text: "£" ~ priorAuthority.totalAmount if priorAuthority.totalAmount else 
        "Not provided"
    }
  }) %}
{% elif priorAuthority.billingType == "Fixed rate" %}
  {% set _ = summaryRows.push({
    key: {
      text: "Total amount"
    },
    value: {
      text: "£" ~ priorAuthority.fixedRateTotalAmount if priorAuthority.fixedRateTotalAmount else 
        "Not provided"
    }
  }) %}
{% endif %}

{{ govukSummaryList({
  card: {
    title: { text: "Expert costs excluding VAT" },
    actions: {
      items: [{
        href: basePath ~ "/costs",
        text: "Change",
        classes: "govuk-link--no-visited-state",
        visuallyHiddenText: "expert costs"
      }]
    }
  },
  rows: summaryRows
}) }}

{% set sharedRows = [{
  key: { text: "Shared with other parties" },
  value: { text: priorAuthority.costsSharedWithOtherParties or "Not provided" },
  actions: {
    items: [{
      href: basePath ~ "/costs-shared",
      text: "Change",
      classes: "govuk-link--no-visited-state",
      visuallyHiddenText: "if costs are shared with other parties"
    }]
  }
}] %}

{% if priorAuthority.costsSharedWithOtherParties == "Yes" %}
  {% set _ = sharedRows.push({
    classes: "govuk-summary-list__row--no-border",
    key: {text: "Number of parties sharing the cost"  },
    value: { text: priorAuthority.numberOfParties or "Not provided" },
    actions: {
      items: [{
        href: basePath ~ "/share-of-costs",
        text: "Change",
        classes: "govuk-link--no-visited-state",
        visuallyHiddenText: "number of parties sharing the cost and your client’s share"
      }]
    }
  }) %}
  {% set _ = sharedRows.push({
    key: {
      text: "Your client’s share"
    },
    value: {
      text: "£" ~ priorAuthority.apportionedAmount if priorAuthority.apportionedAmount else 
        "Not provided"
    }
  }) %}
{% endif %}

{{ govukSummaryList({
  card: {
    title: { text: "Apportionment of costs" }
  },
  rows: sharedRows
}) }}