{% extends "base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "/prior-authority/apply"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">Prior authority for {{ laaReference }}</span>
        <h1 class="govuk-heading-xl">Request prior authority for an expert service</h1>
        <p class="govuk-body">You only need to apply if the service you require charges more than
          <a href="https://www.gov.uk/guidance/expert-witnesses-in-legal-aid-cases">the codified rates and guideline hours</a>.</p>
        <h2 class="govuk-heading-m">Before you begin</h2>
        <p class="govuk-body">You will need to provide:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>a court order</li>
          <li>a letter of instruction</li>
          <li>an estimate of costs with a breakdown of hours</li>
        </ul>
        <p class="govuk-body">Depending on the case, you may need:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>alternative quotes</li>
          <li>certificate references of the other parties</li>
        </ul>
        {{ govukButton({
          text: "Start",
          href: "/prior-authority/expert/details",
          isStartButton: true
        }) }}
      </div>
    </div>
  </div>
</div>{% endblock %}