{% extends "base.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/prior-authority/expert/postcode"
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% if errors %}
          {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errors
      }) }}
        {% endif %}

        <span class="govuk-caption-l">Prior authority for {{ laaReference }}</span>
        <h1 class="govuk-heading-xl">Costs</h1>

        {{ govukSummaryList({
          card: {
            title: { text: "Expert service details" }
          },
          rows: [
            {
              classes: "govuk-summary-list__row--no-border",
              key: { text: "Service required" },
              value: { text: priorAuthority.expertType or "Not provided" },
              actions: {
                items: [{
                  href: basePath ~ "/details",
                  text: "Change",
                  classes: "govuk-link--no-visited-state",
                  visuallyHiddenText: "expert type and full name"
                }]
              }
            },
            {
              key: { text: "Provider's name" },
              value: { text: priorAuthority.fullName or "Not provided" }
            },
            {
              key: { text: "Postcode" },
              value: { text: priorAuthority.expertPostcode or "Not provided" },
              actions: {
                items: [{
                  href: basePath ~ "/postcode",
                  text: "Change",
                  classes: "govuk-link--no-visited-state",
                  visuallyHiddenText: "postcode"
                }]
              }
            }
          ]
        }) }}

        {% set billingType = values.PriorAuthorityBillingType if values else 
          priorAuthority.billingType %}
        {% set hourlyRate = values.PriorAuthorityHourlyRate if values else 
          priorAuthority.hourlyRate %}
        {% set estimatedHours = values.PriorAuthorityEstimatedTime.PriorAuthorityEstimatedHours if values else 
          priorAuthority.estimatedTime.estimatedHours %}
        {% set estimatedMinutes = values.PriorAuthorityEstimatedTime.PriorAuthorityEstimatedMinutes if values else 
          priorAuthority.estimatedTime.estimatedMinutes %}
        {% set totalAmount = values.PriorAuthorityTotalAmount if values else 
          priorAuthority.totalAmount %}
        {% set fixedRateTotalAmount = values.PriorAuthorityFixedRateTotalAmount if values else 
          priorAuthority.fixedRateTotalAmount %}
        {% set displayCalculatedTotal = calculatedTotal if calculatedTotal else 
          totalAmount %}
        {% set fixedRateConditionalHtml %}
        {{ govukInput({
            label: { text: "Total amount", classes: "govuk-label--s" },
            id: "PriorAuthorityFixedRateTotalAmount",
            name: "PriorAuthorityFixedRateTotalAmount",
            classes: "govuk-input--width-5",
            prefix: { text: "£" },
            value: fixedRateTotalAmount,
            attributes: { "aria-label": "Total amount in pounds" },
            errorMessage: ({ text: errorMap["PriorAuthorityFixedRateTotalAmount"] } if errorMap["PriorAuthorityFixedRateTotalAmount"] else null)
          }) }}
        {% endset %}
        {% set hourlyConditionalHtml %}
        {{ govukInput({
            label: { text: "Hourly rate", classes: "govuk-label--s" },
            id: "PriorAuthorityHourlyRate",
            name: "PriorAuthorityHourlyRate",
            classes: "govuk-input--width-5",
            prefix: { text: "£" },
            value: hourlyRate,
            attributes: { "aria-label": "Hourly rate in pounds" },
            errorMessage: ({ text: errorMap["PriorAuthorityHourlyRate"] } if errorMap["PriorAuthorityHourlyRate"] else null)
          }) }}
        <div role="group" aria-labelledby="time-requested-legend" class="time-errors">
          <p id="time-requested-legend" class="govuk-fieldset__legend govuk-fieldset__legend--s">Time requested</p>
          <div class="govuk-date-input">
            <div class="govuk-date-input__item">
              {{ govukInput({
                  label: { text: "Hours", classes: "govuk-visually-hidden" },
                  id: "PriorAuthorityEstimatedTime.PriorAuthorityEstimatedHours",
                  name: "PriorAuthorityEstimatedTime[PriorAuthorityEstimatedHours]",
                  classes: "govuk-input--width-3",
                  suffix: { text: "hours" },
                  inputmode: "numeric",
                  value: estimatedHours,
                  errorMessage: ({ text: errorMap["PriorAuthorityEstimatedTime.PriorAuthorityEstimatedHours"] } if errorMap["PriorAuthorityEstimatedTime.PriorAuthorityEstimatedHours"] else null)
                }) }}
            </div>
            <div class="govuk-date-input__item">
              {{ govukInput({
                  label: { text: "Minutes", classes: "govuk-visually-hidden" },
                  id: "PriorAuthorityEstimatedTime.PriorAuthorityEstimatedMinutes",
                  name: "PriorAuthorityEstimatedTime[PriorAuthorityEstimatedMinutes]",
                  classes: "govuk-input--width-2",
                  suffix: { text: "minutes" },
                  inputmode: "numeric",
                  value: estimatedMinutes,
                  errorMessage: ({ text: errorMap["PriorAuthorityEstimatedTime.PriorAuthorityEstimatedMinutes"] } if errorMap["PriorAuthorityEstimatedTime.PriorAuthorityEstimatedMinutes"] else null)
                }) }}
            </div>
          </div>
          {{ govukButton({ text: "Update calculation", classes: "govuk-button--secondary govuk-!-margin-top-7", attributes: { name: "_action", value: "calculate" } }) }}
          <p class="govuk-body-m secondary-text-colour govuk-!-margin-bottom-0">Total cost (excluding VAT)</p>
          {% if displayCalculatedTotal %}
            <p class="govuk-heading-m govuk-!-padding-top-0">£{{ displayCalculatedTotal }}</p>
          {% else %}
            <p class="govuk-heading-m govuk-!-padding-top-0">£0.00</p>
          {% endif %}
        </div>
        {% endset %}
        <form action="/prior-authority/expert/costs" method="post" novalidate>
          {{ govukRadios({
            name: "PriorAuthorityBillingType",
            id: "PriorAuthorityBillingType",
            errorMessage: ({ text: errorMap["PriorAuthorityBillingType"] } if errorMap["PriorAuthorityBillingType"] else null),
            fieldset: {
              legend: {
                text: "How will you be billed by the expert?",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m standard-spacing-top"
              }
            },
            hint: { text: "Do not include VAT" },
            items: [
              {
                value: "Hourly",
                text: "Hourly",
                checked: billingType == "Hourly",
                hint: { text: "You pay for the number of hours worked" },
                conditional: { html: hourlyConditionalHtml }
              },
              {
                value: "Fixed rate",
                text: "Fixed rate",
                checked: billingType == "Fixed rate",
                hint: { text: "You pay one fixed cost" },
                conditional: { html: fixedRateConditionalHtml }
              }
            ]
          }) }}
          <div class="govuk-button-group standard-spacing-top">
            {{ govukButton({ text: "Continue", attributes: { name: "_action", value: 'continue' } }) }}
          </div>
          <input type="hidden" name="_csrf" value="{{ csrfToken }}"></form>
      </div>
    </div>
  </div>
{% endblock %}