{% extends "base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/prior-authority/expert/expert-type"
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errors %}
        {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errors
      }) }}
      {% endif %}
      <span class="govuk-caption-l">Prior authority for {{ laaReference }}</span>
      <form action="/prior-authority/expert/other-expert-type" method="post" novalidate>

        {{ govukInput({
          label: {
            text: "What is the service?",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: { text: "For example, Osteopath" },
          id: "PriorAuthorityExpertTypeOther",
          name: "PriorAuthorityExpertTypeOther",
          spellcheck: "false",
          value: values.PriorAuthorityExpertTypeOther if values else fallbackOtherExpertType,
          errorMessage: ({ text: errorMap["PriorAuthorityExpertTypeOther"] } if errorMap["PriorAuthorityExpertTypeOther"] else null)
        }) }}

        <div class="govuk-button-group standard-spacing-top">
          {{ govukButton({ text: "Continue", attributes: { name: "_action", value: 'continue' } }) }}
        </div>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"></form>
    </div>
  </div>
{% endblock %}