{% extends "base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLinkHref
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errors %}
        {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errors
      }) }}
      {% endif %}
      <span class="govuk-caption-l govuk-!-margin-bottom-2">Prior authority for {{ laaReference }}</span>
      {% if priorAuthority.expertType %}
        <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Service required</h2>
        <p class="govuk-body">{{ priorAuthority.expertType }}</p>
      {% endif %}
      <form action="/prior-authority/expert/provider-name" method="post" novalidate>

        {{ govukInput({
          label: {
            text: "Service provider's name",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: { text: "For example, Dr Jane Smith or Expert Services Ltd" },
          id: "PriorAuthorityExpertFullName",
          name: "PriorAuthorityExpertFullName",
          spellcheck: "false",
          value: values.PriorAuthorityExpertFullName if values else priorAuthority.fullName,
          errorMessage: ({ text: errorMap["PriorAuthorityExpertFullName"] } if errorMap["PriorAuthorityExpertFullName"] else null)
        }) }}

        <div class="govuk-button-group standard-spacing-top">
          {{ govukButton({ text: "Continue", attributes: { name: "_action", value: 'continue' } }) }}
        </div>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"></form>
    </div>
  </div>
{% endblock %}