{% extends "base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "/"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">Prior authority</span>
        <h1 class="govuk-heading-xl">Apply for counsel</h1>
        <p class="govuk-body">Use this service to get advance approval from the Legal Aid Agency (LAA) to instruct King's Counsel (KC) or more than one counsel.</p>
        <h2 class="govuk-heading-m">Before you start</h2>
        <p class="govuk-body">You do not need prior authority to instruct a single junior counsel if it is reasonable for the context of the proceedings.</p>
        <p class="govuk-body">You must get approval before counsel starts any work. The LAA cannot grant prior authority retrospectively for work or liabilities that have already been incurred.</p>
        <h2 class="govuk-heading-m">What you need</h2>
        <p class="govuk-body">To complete your application, you will need to provide:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>written advice from counsel, or a detailed narrative explaining why this level of representation is necessary (such as extreme case complexity or an exceptional volume of evidence)</li>
          <li>a copy of any relevant court orders directing or supporting the representation</li>
        </ul>
        <p class="govuk-body">You can save your application and come back to it later.</p>
        {{ govukButton({
  text: "Start",
  href: "/counsel/type-of-counsel",
  classes: "standard-spacing-top",
  isStartButton: true
}) }}
      </div>
    </div>
  </div>{% endblock %}