{% extends "base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
       <form action="/prior-authority-form/counsel/justification" method="post" novalidate>
        {{ govukCharacterCount({
  name: "justification",
  id: "justification",
  value: "",
  maxwords: 500,
  label: {
    text: "Why is this application necessary?",
    classes: "govuk-label--l",
    isPageHeading: true
  },
  hint:{
    text: "Provide a background to the case that demonstrates relevant circumstances and explanation of the specific expertise required."
  }
})
}}
 <div class="govuk-button-group standard-spacing-top">
          {{ govukButton({ text: "Save and continue" }) }}
 </div>
  <input type="hidden" name="_csrf" value="{{ csrfToken }}"></form>
  </div>
    </div>
{% endblock %}