<p class="govuk-body">The supporting documents you upload depend on your specific application. You only need to provide
  evidence that justifies the prior authority request.</p>
<p class="govuk-body">Documents that support a decision can include:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>written advice from counsel, or a detailed narrative explaining why this level of representation is necessary</li>
  <li>a copy of any relevant court orders directing or supporting the representation</li>
</ul>
<p class="govuk-body">Only upload documents that support your specific request. You
  <span class="govuk-!-font-weight-bold">do not</span>
  need to provide everything in the list.</p>