{% extends "base.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}


<div class="govuk-!-text-align-right">
{{ govukButton({
  text: "Logout",
  href: "/auth/logout"
}) }} 
</div>

  {{ govukTable({
    caption: "Application overview",
    captionClasses: "govuk-table__caption--m",
    firstCellIsHeader: false,
    head: [
      { text: "Field" },
      { text: "Value" }
    ],
    rows: [
      [
        { text: "Application ID" },
        { text: application.applicationId }
      ],
      [
        { text: "Client First Name" },
        { text: application.clientFirstName }
      ],
      [
        { text: "Client Last Name" },
        { text: application.clientLastName }
      ],
      [
        { text: "Status" },
        { text: application.status }
      ]
    ]
  }) }}

{% endblock %}
