<p class="govuk-body">You only need to provide evidence that justifies the prior authority request.</p>
<p class="govuk-body">Documents that support a decision can include:</p>
<ul class="govuk-list govuk-list--bullet">
  <li class="govuk-!-margin-bottom-3">written advice from counsel, or a detailed narrative explaining why this level of representation is necessary (such as extreme case complexity or an exceptional volume of evidence)</li>
  <li class="govuk-!-margin-bottom-3">a copy of any relevant court orders directing or supporting the representation</li>
</ul>