{% extends "base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: "Prior authority application submitted",
        html: "application submitted <br>for <br><strong>HDJ2123F</strong>"
      }) }}

      <p class="govuk-body">We have sent you a confirmation email.</p>

      <h2 class="govuk-heading-m">What happens next</h2>

      <p class="govuk-body">
        We can review this application if the client's civil aid application has been granted.
      </p>
      
      <p class="govuk-body">
        We'll email you our decision and update your dashboard.
      </p>

     {{ govukInsetText({
        html: '<a href="#" class="govuk-link">Give feedback</a> to help us improve this service.'
      }) }}

    <a href="/pa-form/type-pa" role="button" draggable="false" class="govuk-button" data-module="govuk-button" 
    data-govuk-button-init="">Manage your applications</a>
    </div>
  </div>
{% endblock %}