{% extends "base.njk" %}
{%- from "govuk/components/file-upload/macro.njk" import govukFileUpload -%}
{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "govuk/components/error-summary/macro.njk" import govukErrorSummary -%}
{%- from "moj/components/multi-file-upload/macro.njk" import mojMultiFileUpload -%}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/pa-form/expert-costs"
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errorSummary.items.length %}
        {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorSummary.items
      }) }}
      {% endif %}
      {% if errors %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errors
        }) }}
      {% endif %}
      <h1 class="govuk-heading-xl">Upload supporting documents</h1>
      <p class="govuk-body">The supporting documents you upload depend on your specific application. You only need to provide
        evidence that justifies the prior authority request.</p>
      <p class="govuk-body">Documents that support a decision can include:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>a court order</li>
        <li>a letter of instruction</li>
        <li>an estimate of costs with a breakdown of hours</li>
        <li>alternative quotes (if applicable)</li>
        <li>certificate references of any other parties involved</li>
      </ul>
      <p class="govuk-body">Only upload documents that support your specific request. You
        <span class="govuk-!-font-weight-bold">do not</span>
        need to provide everything in the list.</p>
      <form action="/pa-form/document-upload" method="post" enctype="multipart/form-data">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
          {% set uploadHtml %}
          {{ govukFileUpload({
          id: "PriorAuthorityDocuments",
          name: "PriorAuthorityDocuments",
          value: priorAuthority.uploadedDocuments,
          classes: "moj-multi-file-upload__input",
          label: {
            text: "Upload files",
            classes: "govuk-label--m"
          },
          hint:{
          text:"The maximum file size for each file is 10MB. Files must be a DOC, DOCX, RTF, ODT, JPG, BMP, PNG, TIF or PDF."
          },
          attributes: { multiple: "" },
          errorMessage: ({ text: errorMap["PriorAuthorityDocuments"] } if errorMap["PriorAuthorityDocuments"] else null)
        }) }}
          {{ govukButton({
          text: "Upload file",
          classes: "govuk-button--secondary moj-multi-file-upload__button",
          name: "_action",
          value: "upload"
        }) }}
          {% endset %}
          {{ mojMultiFileUpload({
        label: { text: "Upload or drag and drop documents" },
        uploadedFiles: {
          heading: { text: "Uploaded files" },
          items: uploadedFiles
        },
        uploadHtml: uploadHtml
      }) }}
          <div class="govuk-button-group">
            {{ govukButton({ text: "Save and continue", attributes: { name: "_action", value: 'continue' } }) }}
            {{ govukButton({ text: "Save and come back later", classes: "govuk-button--secondary", attributes: { name: "_action", value: 'draft' } }) }}
          </div>
        </form>
      </div>
    </div>
  {% endblock %}
  {% block bodyEnd %}
    {{ super() }}
    <script type="module" nonce="{{ cspNonce }}" src="/js/{{ getAsset('custom','min.js') }}"></script>
  {% endblock %}