{% extends "base.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/pa-form/search-an-expert-type"
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% if errors %}
          {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errors
      }) }}
        {% endif %}
        <h1 class="govuk-heading-xl">Expert costs</h1>
        <h2 class="govuk-heading-m">
          {{ priorAuthority.expertType }}
          <span class="govuk-caption-m">Enter the information of the expert you are requesting prior authority for.</span>
        </h2>
        <form action="/pa-form/expert-costs" method="post" novalidate>
          {{ govukInput({
                  label: {
    text: "Full name",
    classes: "govuk-label--s"
  },
  id: "PriorAuthorityExpertFullName",
  name: "PriorAuthorityExpertFullName",
  spellcheck: "false",
  value: priorAuthority.fullName,
  errorMessage: ({ text: errorMap["PriorAuthorityExpertFullName"] } if errorMap else null)
}) }}
          {{ govukRadios({
        name: "PriorAuthorityBillingType",
        errorMessage: ({ text: errorMap["PriorAuthorityBillingType"] } if errorMap["PriorAuthorityBillingType"] else null),
        fieldset: {
          legend: {
            text: "How will you be billed by the expert?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          { 
            value: "Hourly", 
            text: "Hourly", 
            checked: priorAuthority.billingType == "Hourly",
            hint: {
              text: "You pay for the number of hours worked."
            }
          },
          { 
            value: "Flat rate", 
            text: "Flat rate", 
            checked: priorAuthority.billingType == "Flat rate",
            hint: {
              text: "You pay one fixed cost."
            }
          }
        ]
      }) }}
          <div class="govuk-button-group">
            {{ govukButton({ text: "Save and continue" }) }}
          </div>
          <input type="hidden" name="_csrf" value="{{ csrfToken }}"></form>
      </div>
    </div>
  </div>
{% endblock %}