{% extends "base.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/pa-form/expert-details"
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% if errors %}
          {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errors
      }) }}
        {% endif %}
        <h1 class="govuk-heading-xl">Expert costs</h1>
        <h2 class="govuk-heading-m">
          {{ priorAuthority.expertType }}
          <span class="govuk-caption-m">Enter the information of the expert you are requesting prior authority for.</span>
        </h2>
        {% set billingType = values.PriorAuthorityBillingType if values else 
          priorAuthority.billingType %}
        {% set hourlyRate = values.PriorAuthorityHourlyRate if values else 
          priorAuthority.hourlyRate %}
        {% set estimatedHours = values.PriorAuthorityEstimatedTime.PriorAuthorityEstimatedHours if values else 
          priorAuthority.estimatedTime.estimatedHours %}
        {% set estimatedMinutes = values.PriorAuthorityEstimatedTime.PriorAuthorityEstimatedMinutes if values else 
          priorAuthority.estimatedTime.estimatedMinutes %}
        {% set totalAmount = values.PriorAuthorityTotalAmount if values else 
          priorAuthority.totalAmount %}
        {% set flatRateTotalAmount = values.PriorAuthorityFlatRateTotalAmount if values else 
          priorAuthority.flatRateTotalAmount %}
        {% set flatRateConditionalHtml %}
        {{ govukInput({
            label: { text: "Total amount", classes: "govuk-label--s" },
            id: "PriorAuthorityFlatRateTotalAmount",
            name: "PriorAuthorityFlatRateTotalAmount",
            classes: "govuk-input--width-5",
            prefix: { text: "£" },
            value: flatRateTotalAmount,
            attributes: { "aria-label": "Total amount in pounds" },
            errorMessage: ({ text: errorMap["PriorAuthorityFlatRateTotalAmount"] } if errorMap["PriorAuthorityFlatRateTotalAmount"] else null)
          }) }}
        {% endset %}
        {% set hourlyConditionalHtml %}
        {{ govukInput({
            label: { text: "Hourly rate", classes: "govuk-label--s" },
            id: "PriorAuthorityHourlyRate",
            name: "PriorAuthorityHourlyRate",
            classes: "govuk-input--width-5",
            prefix: { text: "£" },
            value: hourlyRate,
            attributes: { "aria-label": "Hourly rate in pounds" },
            errorMessage: ({ text: errorMap["PriorAuthorityHourlyRate"] } if errorMap["PriorAuthorityHourlyRate"] else null)
          }) }}
        <div role="group" aria-labelledby="time-requested-legend" class="time-errors">
          <p id="time-requested-legend" class="govuk-fieldset__legend govuk-fieldset__legend--s">Time requested</p>
          <div class="govuk-date-input">
            <div class="govuk-date-input__item">
              {{ govukInput({
                  label: { text: "Hours", classes: "govuk-visually-hidden" },
                  id: "PriorAuthorityEstimatedTime.PriorAuthorityEstimatedHours",
                  name: "PriorAuthorityEstimatedTime[PriorAuthorityEstimatedHours]",
                  classes: "govuk-input--width-3",
                  suffix: { text: "hours" },
                  inputmode: "numeric",
                  value: estimatedHours,
                  errorMessage: ({ text: errorMap["PriorAuthorityEstimatedTime.PriorAuthorityEstimatedHours"] } if errorMap["PriorAuthorityEstimatedTime.PriorAuthorityEstimatedHours"] else null)
                }) }}
            </div>
            <div class="govuk-date-input__item">
              {{ govukInput({
                  label: { text: "Minutes", classes: "govuk-visually-hidden" },
                  id: "PriorAuthorityEstimatedTime.PriorAuthorityEstimatedMinutes",
                  name: "PriorAuthorityEstimatedTime[PriorAuthorityEstimatedMinutes]",
                  classes: "govuk-input--width-2",
                  suffix: { text: "minutes" },
                  inputmode: "numeric",
                  value: estimatedMinutes,
                  errorMessage: ({ text: errorMap["PriorAuthorityEstimatedTime.PriorAuthorityEstimatedMinutes"] } if errorMap["PriorAuthorityEstimatedTime.PriorAuthorityEstimatedMinutes"] else null)
                }) }}
            </div>
          </div>
        </div>
        <div class="govuk-!-margin-top-6">
          {{ govukInput({
              label: { text: "Total amount", classes: "govuk-label--s" },
              id: "PriorAuthorityTotalAmount",
              name: "PriorAuthorityTotalAmount",
              classes: "govuk-input--width-10",
              prefix: { text: "£" },
              value: totalAmount,
              attributes: { "aria-label": "Total amount in pounds" },
              errorMessage: ({ text: errorMap["PriorAuthorityTotalAmount"] } if errorMap["PriorAuthorityTotalAmount"] else null)
            }) }}
        </div>
        {% endset %}
        <form action="/pa-form/expert-costs" method="post" novalidate>
          {{ govukRadios({
            name: "PriorAuthorityBillingType",
            id: "PriorAuthorityBillingType",
            errorMessage: ({ text: errorMap["PriorAuthorityBillingType"] } if errorMap["PriorAuthorityBillingType"] else null),
            fieldset: {
              legend: {
                text: "How will you be billed by the expert?",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
              {
                value: "Hourly",
                text: "Hourly",
                checked: billingType == "Hourly",
                hint: { text: "You pay for the number of hours worked." },
                conditional: { html: hourlyConditionalHtml }
              },
              {
                value: "Flat rate",
                text: "Flat rate",
                checked: billingType == "Flat rate",
                hint: { text: "You pay one fixed cost." },
                conditional: { html: flatRateConditionalHtml }
              }
            ]
          }) }}
          <div class="govuk-button-group">
            {{ govukButton({ text: "Save and continue" }) }}
          </div>
          <input type="hidden" name="_csrf" value="{{ csrfToken }}"></form>
        </div>
      </div>
    </div>
  {% endblock %}