{% extends "base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "/manage/managa-sca-decided"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Apply for prior authority</h1>
        <p class="govuk-body">Use this service to apply for prior authority for an expert, expense or counsel. Make a new application for each one.</p>

        <p class="govuk-body">For experts, you only need to apply if they charge more than <a href="https://www.gov.uk/guidance/expert-witnesses-in-legal-aid-cases" class="govuk-link" rel="noreferrer noopener" target="_blank">the codified rates and guideline hours (opens in new tab).</a>
        </p>

        <p class="govuk-body">As part of the application, you may need to provide:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>the court order</li>
          <li>the letter of instruction</li>
          <li>an estimate of costs with a breakdown of hours</li>
          <li>alternative quotes</li>
          <li>the other parties' certificate references</li>
        </ul>

        <p class="govuk-body">This depends on what you apply for. We’ll make this clear as you go through the application.</p>

        {{ govukButton({
  text: "Start",
  href: "/type-pa",
  isStartButton: true
}) }}

      </div>
    </div>
  </div>
</div>
{% endblock %}