{% extends "base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/pa-form/start-page"
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errors %}
        {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errors
      }) }}
      {% endif %}
      <form action="/pa-form/type-pa" method="post" novalidate>
        {{ govukRadios({
        name: "PriorAuthorityType",
        errorMessage: ({ text: errorMap["PriorAuthorityType"] } if errorMap["PriorAuthorityType"] else null),
        fieldset: {
          legend: {
            text: "What type of prior authority are you applying for?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          { 
            value: "Expert", 
            text: "Expert", 
            checked: priorAuthority.type == "Expert",
            hint: {
              text: "A specialist who provides evidence, testing or assessment"
            }
          },
          { 
            value: "Disbursement", 
            text: "Disbursement", 
            checked: priorAuthority.type == "Disbursement",
            hint: {
              text: "A cost, such as travel, records, fees or reports"
            }
          },
          { 
            value: "Counsel", 
            text: "Counsel", 
            checked: priorAuthority.type == "Counsel",
            hint: {
              text: "Barristers who represent the client, give legal advice or prepare advocacy work"
            }
          }
        ]
      }) }}
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
          <div class="govuk-button-group">
            {{ govukButton({ text: "Save and continue", attributes: { name: "_action", value: 'continue' } }) }}
            {{ govukButton({ text: "Save and come back later", classes: "govuk-button--secondary", attributes: { name: "_action", value: 'draft' } }) }}
          </div>
        </form>
      </div>
    </div>
  {% endblock %}