{% extends "base.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "priorAuthority/checkYourAnswersCards.njk" import justificationCard, supportingDocumentsCard %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: basePath ~ "/document-upload"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <h1 class="govuk-heading-xl">Check your answers</h1>

    {% include summaryCardsTemplate %}

    {{ justificationCard(priorAuthority.justification, basePath) }}
    {{ supportingDocumentsCard(priorAuthority.uploadedDocuments, basePath) }}

    <form action="{{ basePath }}/check-your-answers" method="post" novalidate>
      <div class="govuk-button-group standard-spacing-top">
        {{ govukButton({ text: "Submit", attributes: { name: "_action", value: "continue" } }) }}
        {{ govukButton({
          text: "Save and come back later",
          classes: "govuk-button--secondary",
          attributes: { name: "_action", value: "draft" }
        }) }}
      </div>
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    </form>
  </div>
{% endblock %}

