{% extends "base.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/prior-authority/expert/document-upload"
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <h1 class="govuk-heading-xl">Check your answers</h1>
    {{ govukSummaryList({
        card: {
          title: { text: "Expert details" }
        },
        rows: [

          {
            classes: "govuk-summary-list__row--no-border",
            key: { text: "Expert type" },
            value: { text: priorAuthority.expertType or "Not provided" },
                        actions: {
              items: [
                {
                  href: "/prior-authority/expert/details",
                  text: "Change",
                  classes: "govuk-link--no-visited-state",
                  visuallyHiddenText: "expert type and full name"
                }
              ]
            }
          },
          {
            key: { text: "Full name" },
            value: { text: priorAuthority.fullName or "Not provided" }

          },
          {
            key: { text: "Guideline rates or hours exceeded" },
            value: { text: priorAuthority.guidelineRatesExceeded or "Not provided" },
            actions: {
            items: [
              {
                href: "/prior-authority/expert/is-guideline-rate-exceeded",
                text: "Change",
                classes: "govuk-link--no-visited-state",
                visuallyHiddenText: "guideline rates or hours exceeded"
              }
            ]
          }
          },
          {
            key: { text: "Based in London" },
            value: { text: priorAuthority.expertBasedInLondon or "Not provided" },
            actions: {
              items: [
                {
                  href: "/prior-authority/expert/based-in-london",
                  text: "Change",
                  classes: "govuk-link--no-visited-state",
                  visuallyHiddenText: "based in London"
                }
              ]
            }
          }
 
        ]
      }) }}
    {% set summaryRows = [] %}
    {% set _ = summaryRows.push({
      key: {
        text: "Billing method"
      },
      value: {
        text: priorAuthority.billingType or "Not provided"
      }
    }) %}
    {% if priorAuthority.billingType == 'Hourly' %}
      {% set _ = summaryRows.push({
        key: {
          text: "Hourly rate"
        },
        value: {
          text: "£" ~ priorAuthority.hourlyRate if priorAuthority.hourlyRate else 
            "Not provided"
        }
      }) %}
      {% set hoursText = "1 Hour" if priorAuthority.estimatedTime.estimatedHours == 1 else 
        priorAuthority.estimatedTime.estimatedHours ~ " Hours" %}
      {% set minutesText = "1 Minute" if priorAuthority.estimatedTime.estimatedMinutes == 1 else 
        priorAuthority.estimatedTime.estimatedMinutes ~ " Minutes" %}
      {% set timeDisplay = hoursText ~ " <br>" ~ minutesText %}
      {% set _ = summaryRows.push({
        key: {
          text: "Time requested"
        },
        value: {
          html: timeDisplay
        }
      }) %}
      {% set _ = summaryRows.push({
        key: {
          text: "Total amount"
        },
        value: {
          text: "£" ~ (priorAuthority.totalAmount if priorAuthority.totalAmount else 
            "Not provided"
          )
        }
      }) %}
    {% elif priorAuthority.billingType == 'Fixed rate' %}
      {% set _ = summaryRows.push({
        key: {
          text: "Total amount"
        },
        value: {
          text: "£" ~ (priorAuthority.fixedRateTotalAmount if priorAuthority.fixedRateTotalAmount else 
            "Not provided"
          )
        }
      }) %}
    {% endif %}
    {{ govukSummaryList({
        card: {
          title: { text: "Expert costs" },
              actions: {
            items: [
              {
                href: "/prior-authority/expert/costs",
                text: "Change",
                classes: "govuk-link--no-visited-state",
                visuallyHiddenText: "expert costs"
              }
            ]
          }
        },
        rows: summaryRows  }) }}
    {% set justificationValueHtml %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters-from-desktop">
        <p class="govuk-body govuk-!-margin-bottom-0">{{ (priorAuthority.justification or "Not provided") | escape }}</p>
      </div>
    </div>
    {% endset %}
    {{ govukSummaryList({
      classes: "pa-justification-summary-list",
        card: {
          title: { text: "Justification" },
              actions: {
            items: [
              {
                href: "/prior-authority/expert/justification",
                text: "Change",
                classes: "govuk-link--no-visited-state",
                visuallyHiddenText: "justification"
              }
            ]
          }
        },
        rows: [
          {
            value: { html: justificationValueHtml }
          }
        ]  }) }}
    {% set documentListItems %}
    {% if priorAuthority.uploadedDocuments and priorAuthority.uploadedDocuments.length %}
      <ul class="govuk-list govuk-!-margin-bottom-0">
        {% for document in priorAuthority.uploadedDocuments %}
          <li>{{ document.originalFileName }}</li>
        {% endfor %}
      </ul>
    {% else %}
      Not provided
    {% endif %}
    {% endset %}
    {{ govukSummaryList({
        card: {
          title: { text: "Supporting documents" },
          actions: {
            items: [
              {
                href: "/prior-authority/expert/document-upload",
                text: "Change",
                classes: "govuk-link--no-visited-state",
                visuallyHiddenText: "supporting documents"
              }
            ]
          }
        },
        rows: [
          {
            key: { text: "File names" },
            value: { html: documentListItems }
          }
        ]
      }) }}
    <form action="/prior-authority/expert/check-your-answers" method="post" novalidate>
      <div class="govuk-button-group standard-spacing-top">
        {{ govukButton({ text: "Submit", attributes: { name: "_action", value: 'continue' } }) }}
      </div>
      <input type="hidden" name="_csrf" value="{{ csrfToken }}"></form>
    </div>
  {% endblock %}