{% extends "base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLinkHref
  }) }}
{% endblock %}
{% block content %}
  <span class="govuk-caption-l">Prior authority for {{ laaReference }}</span>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errors %}
        {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errors
      }) }}
      {% endif %}

      {% set justificationValue = values.justification if values else 
        priorAuthority.justification %}

      <form action="{{ formAction }}" method="post" novalidate>
        {{ govukTextarea({
          name: "justification",
          id: "justification",
          value: justificationValue,
          errorMessage: ({ text: errorMap["justification"] } if errorMap["justification"] else null),
          label: {
            text: (heading if heading else "Is there anything else you'd like to tell us?"),
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: hintText
          }
        }) }}

        <div class="govuk-button-group standard-spacing-top">
          {{ govukButton({ text: "Continue", attributes: { name: "_action", value: 'continue' } }) }}
        </div>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"></form>
    </div>
  </div>
{% endblock %}