{% extends "base.njk" %}

{% from "govuk/components/table/macro.njk" import govukTable %}

{% block content %}

{% from "govuk/components/button/macro.njk" import govukButton %}

  {% set rows = [] %}
  {% for app in applications %}
    {% set rows = (rows.push([
      { text: app.applicationId },
      { text: app.clientFirstName + " " + app.clientLastName },
      { text: app.status },
      { html: '<a href="/applications/' + app.applicationId + '" class="govuk-link">View</a>' }
    ]), rows) %}
  {% endfor %}

  {{ govukTable({
    caption: "All applications",
    captionClasses: "govuk-table__caption--m",
    firstCellIsHeader: false,
    head: [
      { text: "Application ID" },
      { text: "Client name" },
      { text: "Status" },
      { text: "View Application"}
    ],
    rows: rows
  }) }}

{% endblock %}