{% extends "base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}


{% block content %}
  <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">Apply for civil legal aid</h1>

          <p class="govuk-body">What type of prior authority are you applying for?</p>

<div class="govuk-form-group">
  {{ govukRadios({
  name: "whereDoYouLive",
  fieldset: {
    legend: {
      text: "Which category does this apply to?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
      },
  items: [
    {
      value: "Expert",
      text: "Expert"
    },
    {
      value: "Expense",
      text: "Expense"
    },
    {
      value: "Counsel",
      text: "Counsel"
    }
  ]
}) }}
</div>

        {{ govukButton({
          text: "Save and continue"
        }) }}

        {{ govukButton({
          text: "Save and come back later",
          classes: "govuk-button--secondary"
        }) }}

      </div>
    </div>
  </div>
{% endblock %}