<p class="govuk-body">The supporting documents you upload depend on your specific application. You only need to provide
  evidence that justifies the prior authority request.</p>
<p class="govuk-body">Documents that support a decision can include:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>a court order</li>
  <li>a letter of instruction</li>
  <li>an estimate of costs with a breakdown of hours</li>
  <li>alternative quotes (if applicable)</li>
  <li>certificate references of any other parties involved</li>
</ul>
<p class="govuk-body">Only upload documents that support your specific request. You
  <span class="govuk-!-font-weight-bold">do not</span>
  need to provide everything in the list.</p>