{% extends "base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "/prior-authority/type"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">Prior authority</span>
        <h1 class="govuk-heading-xl">Apply for an expert</h1>
        <p class="govuk-body">Use this service to apply for prior authority for an expert.</p>
        <p class="govuk-body">For experts, you only need to apply if they charge more than the codified rates and guideline
          hours.
        </p>
        <p class="govuk-body">To complete your application, you will need to provide supporting documentation. Depending on your
          application type, you may need to include:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>a court order</li>
          <li>a letter of instruction</li>
          <li>an estimate of costs with a breakdown of hours</li>
          <li>alternative quotes</li>
          <li>certificate references of the other parties</li>
        </ul>
        <p class="govuk-body">You can save your application and come back to it later.</p>
        {{ govukButton({
  text: "Start",
  href: "/prior-authority/expert/is-guideline-rate-exceeded",
  classes: "standard-spacing-top",
  isStartButton: true
}) }}
      </div>
    </div>
  </div>
</div>{% endblock %}