@use "accessible-autocomplete/src/autocomplete";
@use "@ministryofjustice/frontend/moj/all" as *;
@use "govuk-components";

.autocomplete__wrapper {
  font-family: "GDS Transport", arial, sans-serif;
}

.moj-multi-file-upload {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 3rem;
}

.moj-multi-file-upload__dropzone {
  margin-top: 2rem;
}

.moj-multi-file-upload__progress {
  display: none;
}

.moj-multi-file-upload__delete.govuk-button {
  background: none;
  border: none;
  box-shadow: none;
  color: govuk-colour("blue");
  cursor: pointer;
  font-size: inherit;
  font-weight: normal;
  padding: 0;
  text-decoration: underline;

  &:hover {
    color: govuk-colour("blue", $variant: "shade-50");
  }

  &:focus {
    color: govuk-colour("black");
  }
}

.moj-multi-file-upload__success {
  color: inherit;
  font-weight: normal;

  svg {
    display: none;
  }
}

.standard-spacing-top {
  margin-top: govuk-spacing(7);
}

.standard-spacing-bottom {
  margin-bottom: govuk-spacing(7);
}

.secondary-text-colour {
  color: govuk-functional-colour("secondary-text");
}

.pa-justification-summary-list {
  .govuk-summary-list__key {
    display: none;
  }

  .govuk-summary-list__value {
    width: 100%;
  }
}

.table-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
}
